.clients{
    max-width: 1240px;
    background-color: #0B7572;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 84px 0;
    flex-wrap: wrap;
   
    &__title{
        color: #FFFFFF;
        font-size: 48px;
        font-family: "Exo 2", sans-serif;
        max-width: 476px;
    }
    &__img{
        max-width: 652px;
        height: 746px;
    }
}